@keyframes ui-fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes ui-fade-out {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes ui-fade-in-up {
    from {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes ui-fade-in-down {
    from {
        opacity: 0;
        transform: translateY(-20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes ui-fade-in-left {
    from {
        opacity: 0;
        transform: translateX(-20px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes ui-fade-in-right {
    from {
        opacity: 0;
        transform: translateX(20px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes modal-fade-out-down {
    to {
        opacity: 0;
        transform: translateY(20px)
    }
}

@keyframes modal-fade-out-up {
    to {
        opacity: 0;
        transform: translateY(-20px)
    }
}

@keyframes modal-fade-out-left {
    to {
        opacity: 0;
        transform: translateX(-20px)
    }
}

@keyframes modal-fade-out-right {
    to {
        opacity: 0;
        transform: translateX(20px)
    }
}