@keyframes ui-slide-in-up {
    from {
        opacity: 0;
        transform: translateY(100%)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes ui-slide-in-down {
    from {
        opacity: 0;
        transform: translateY(-100%)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes ui-slide-in-left {
    from {
        opacity: 0;
        transform: translateX(-100%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes ui-slide-in-right {
    from {
        opacity: 0;
        transform: translateX(100%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes modal-slide-out-down {
    to {
        opacity: 0;
        transform: translateY(100%)
    }
}

@keyframes modal-slide-out-up {
    to {
        opacity: 0;
        transform: translateY(-100%)
    }
}

@keyframes modal-slide-out-left {
    to {
        opacity: 0;
        transform: translateX(-100%)
    }
}

@keyframes modal-slide-out-right {
    to {
        opacity: 0;
        transform: translateX(100%)
    }
}