@layer components {
    .badge-container {
        position: relative;
    }

    .badge {
        --badge-radius: var(--radius-md);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: .25rem;
        padding: 0.25rem 0.5rem;
        font-size: .75rem;
        font-weight: 500;
        border-radius: var(--badge-radius);
        background-color: var(--color-primary-500);
    }

    .badge-square {
        --badge-radius: 0;
    }

    .badge-success {
        background-color: var(--color-success-500);
    }

    .badge-danger {
        background-color: var(--color-destructive-500);
    }

    .badge-circle {
        padding: .7rem;
        --badge-radius: 9999px;
    }

    .badge-notif {
        position: absolute;
        top:-7px;
        right: -7px;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 9px;
        font-weight: 700;
        border: 2px solid var(--border-color);
        border-radius: 50%;
    }
}